doctype
html
  head
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')

    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      h1 GummyFrog
      g=' on '+title+'.'

      include nav.jade


      script(src='javascripts/allEmojiScript.js')

      div#stuffHigh

        canvas#emojiCanvas-0(width='400', height='500')
        canvas#emojiCanvas-1(width='400', height='500')
        canvas#emojiCanvas-2(width='400', height='500')
        canvas#emojiCanvas-3(width='400', height='500')
        canvas#emojiCanvas-4(width='400', height='500')
        canvas#emojiCanvas-5(width='400', height='500')
        canvas#emojiCanvas-6(width='400', height='500')
        canvas#emojiCanvas-7(width='400', height='500')
        canvas#emojiCanvas-8(width='400', height='500')
        canvas#emojiCanvas-9(width='400', height='500')
        canvas#emojiCanvas-20(width='400', height='500')


      div#stuffHigh
        canvas#emojiCanvas-10(width='400', height='500')
        canvas#emojiCanvas-11(width='400', height='500')
        canvas#emojiCanvas-12(width='400', height='500')
        canvas#emojiCanvas-13(width='400', height='500')
        canvas#emojiCanvas-14(width='400', height='500')
        canvas#emojiCanvas-15(width='400', height='500')
        canvas#emojiCanvas-16(width='400', height='500')
        canvas#emojiCanvas-17(width='400', height='500')
        canvas#emojiCanvas-18(width='400', height='500')
        canvas#emojiCanvas-19(width='400', height='500')
