doctype
html
	head
		include richembed.pug
		title= title
		link(rel='stylesheet', href='/stylesheets/auditype.css')

	body
		div.header
			div.content
				img.logo(src="images/auditype_final.png")
				p.title Auditype.
				p.subtitle Type the way you like. Quiet, loud, or anywhere in between.
				br

				p.title What does it do?
				p. 
					Auditype allows you to digitally change the sound of your keyboard and mouse.
				p.
					Turn a quiet keyboard into a clacky one, or a clacky keyboard into a quiet one. Auditype is there for you, whether you love the sound of a mechanical keyboard, need to record convincing typing sounds, or just wish your 110wpm typing had a little bit more of a kick.
				p. 
					Although more sounds will be added in the future, for now, please enjoy the 17 clicks and clacks from various mice and keyboards included with Auditype.

				div(style='width:100%;height:0px;position:relative;padding-bottom:56.250%;')

					iframe(src='https://streamable.com/s/wcoez/wduoab', allowfullscreen='', style='width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;', width='100%', height='100%', frameborder='0')

				br

				p.title Data Collection / Privacy Policy
				p Auditype does not collect or send any data or statistics, either to us or any third parties.

				p If you have any questions about this Privacy Policy, please #[a(href="mailto:neilsemail@me.com") contact us]

				p.title Contact
				p For questions and business inquiries, please contact us at #[a.email(href="mailto:auditypeinquiries@gmail.com") auditypeinquiries@gmail.com].