doctype
html
	head
		include richembed.jade
		title= title
		link(rel='stylesheet', href='/stylesheets/auditype.css')

	body
		div.header
			div.content
				img.logo(src="images/auditype_final.png")
				p.title Auditype.
				p.subtitle Type the way you like. Quiet, loud, or anywhere in between.
				br

				p.title What does it do?
				p Auditype lets you customize the sound of your keyboard and mouse.
				p images and such, etc...


				br

				a(href="/privacy") Privacy Policy
				br
				a(href="/contact") Contact