doctype
html
	head
		link(rel='stylesheet', href='/stylesheets/gummaterial.css')
		title= title


body
	div.content
		div.contenthead
			h1 Header
			h3 Subheader
			a(href="https://google.com") Anchor.

		div.contentleft

			h1 Content
			h3 The content description. 

			p. 
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in cursus dui, ut mollis tortor. Ut a libero euismod, tincidunt erat sit amet, pulvinar nisi. Proin rhoncus dui eu urna accumsan, vitae faucibus lacus congue. 


			h2 Section Two.
			p. 
				Curabitur egestas lectus eget tempor vulputate. Duis cursus vestibulum eros, vel tempus orci hendrerit in. 



			h2 Section Three.
			p.
				Suspendisse sagittis convallis velit non fermentum. Ut suscipit, purus at ullamcorper aliquam, mauris mauris condimentum erat, ac dictum nunc sem eu sapien. 
		div.contentright
			h1 There's some additional content here.
			h3 Very Important. 
				