doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      div.right
        include nav.jade




    div
      div.text
        p hello i was accidentally using an anchor tag lol lmao hello. Hello. This is what is happening. Fuck you. Fuck you. This is how long it is. This wraps in the editor, thank god. Fuck you. u are being rude. u are rude. iu are beina gur.


      textarea#inputBox(cols = 50, rows = 5) Copy paste an article, or something with a lot of words into this box.
      textarea#haikuBox(cols = 50, rows = 5) Your haiku appears here.
      button#haikuButton Haiku-ify
      button#trueHaikuButton True Haiku

      p#sylbData Sylb Data will show up here.

      a.twitter-timeline(href='https://twitter.com/bot_inspiration?ref_src=twsrc%5Etfw' data-height="300" data-tweet-limit="6" data-chrome="nofooter noborder transparent") Tweets by bot_inspiration
      script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')


    script(src="/javascripts/sylb-haiku-browser.js")
    script(src="javascripts/truehaikuscript.js")
