doctype
html
	head
		include richembed.jade
		title= title
		link(rel='stylesheet', href='/stylesheets/cartesian.css')
		script(src='https://kit.fontawesome.com/a9b1673cea.js')
		script(src='javascripts/palette.js')
		script(src='javascripts/cartesianDisplayer.js')

	body
		div.header
			div#snackbar something
			div.content
				// img.logo(src="images/auditype_final.png")
				form()#form
					h2 Configuration
					.input-container
						i.fas.fa-grip-lines.icon
						input.qinput-field(type='number', min="0", max="5", placeholder='Full Pages')#full
						input.qinput-field(type='number', min="0", max="5", placeholder='Five Columns')#five
						input.qinput-field(type='number', min="0", max="5", placeholder='Four Columns')#four
						input.qinput-field(type='number', min="0", max="5", placeholder='Three Columns')#three

					.input-container
						i.fas.fa-grip-lines-vertical.icon
						input.trinput-field(type='number', min="0", max="5", placeholder='Two ½ Wide')#twohw
						input.trinput-field(type='number', min="0", max="5", placeholder='Two ½ Square')#twohs
						input.trinput-field(type='number', min="0", max="5", placeholder='Two Columns')#two

					.input-container
						i.fas.fa-sort-amount-up.icon
						input.input-field(type='number', min="0", max="10000", placeholder='Lower Bound')#lower
						input.input-field(type='number', min="0", max="10000", placeholder='Upper Bound')#upper

					button.btn(type='button')#calculate Calculate

				script(src='javascripts/cartesian.js')
				div.tableDiv
					table.cartesianTable#jsonDisplay

