doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      include nav.jade


    section#wrapper
        footer
          section.css-table
            section.four-column
              section.cell
                <img class="social" src='/images/mail-inbox.png' id="social"> <socialText> &nbsp; neilsemail@me.com</socialText>
              section.cell
                p
              section.cell
                <img class="social" src='/images/04-512.png' id="social"> <socialText> &nbsp; 267•475•3257</socialText>
