doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      h1 GummyFrog
      g=' available to '+title+'.'

      include nav.jade


    section#wrapper
        footer
          section.css-table
            section.four-column
              section.cell
                p Reach out to me.
                ul
                  li
                    p email-<br/>neilsemail@me.com
                  li
                    p phone-<br/>267-475-3257
