doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/faq.css')

  body
    div.content
      p Você está aqui por causa do Corno Patrulha, não é? Espero que isso possa responder a quaisquer perguntas que você possa ter. Se você tem uma pergunta que não foi respondida aqui, sinta-se à vontade para enviar uma mensagem ao bot. Eu os leio.

      br
      br
      p.title Por que eu fui retweetado e/ou favoritado?
      p.answer Você disse a palavra mágica! Desculpa.
      p.title Você pode excluir o meu tweet?
      p.answer Claro! Envie ao Corno Patrulha uma mensagem direta. Eu vou apagá-lo sempre que eu verificar.
      p.title Você se senta em um computador 24/7 e procura Tweets durante todo o dia? O que você tem?
       p.answer Não, não busco nada manualmente. Corno Patrulha retweeta e favorita automaticamente. Você pode ver o código em #[a(href="https://github.com/gummyfrog/cuckwatch/blob/master/bot.js") GitHub.]

      p.title Você ganha algum dinheiro com isso?
      p.answer hahahaha, eu desejo.
      p.title Você é um Corno?
      p.answer Não.

      div.flag
        img.flag(src="images/giphy.gif")
