doctype
html
  head
    include richembed.jade
    title= title
    link(rel='stylesheet', href='/stylesheets/faq.css')

  body
    div.content
      p You're here because of Cuck Watch, aren't you? Hopefully this can answer any questions you might have. If you have a question that isn't answered here, feel free to send the bot a message. I read them. 

      br
      br
      p.title Why did I get retweeted and/or liked?
      p.answer You said the magic word! Sorry.
      p.title Can you unretweet my Tweet?
      p.answer Sure! Send Cuck Watch a direct message. I'll unretweet it whenever I check them.
      p.title Do you sit at a computer 24/7 and search for Tweets all day? What's wrong with you?
      p.answer No, I don't search for anything manually. Cuck Watch retweets and likes automatically. You can see the code on #[a(href="https://github.com/gummyfrog/cuckwatch/blob/master/bot.js") GitHub.]

      p.title Do you make any money from this?
      p.answer God, I wish.
      p.title Are you a Cuck?
      p.answer No.

