doctype
html
  head
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')

    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      h1 GummyFrog
      g=' on '+title+'.'

      include nav.jade




    div#stuffHigh
      canvas#emoji-chart2(width='400', height='600')

      script(src='javascripts/display-json-obj.js')




    section#wrapper
        footer
          section.css-table
            section.four-column
              section.cell
              //christ, i have to rewrite this.
                p bover bover 
