doctype
html
  head
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/emojis.css')
    
  body
    include nav.jade
    div.content
      div.contentright
      
        div.wrapper
          canvas#emoji-chart1(width='400', height='600')
        div.wrapper
          canvas#emoji-chart2(width='400', height='600')

        script(src='javascripts/script.js')



      div.contentleft
        p(style="white-space:pre-line;").
          Over the course of two weeks in early November, I collected data from Twitter on emoji/word correlation.
          
            
          The idea is that certain emojis are going to be associated with certain words. 
          If you look at the Burger Emoji, you'd see a lot of burger words.            
          
          On the right side of this page are some graphs showing the most frequent words associated with an emoji.
          Reload the page to get new graphs!
          
          Hover over each segment of the graph to get more info.
          
          This small project has expanded into FROGEYE, the crystal ball for the ultimate socialite, which you can see <a href="">here.</a>
          
