doctype
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title =error.status
		link(rel='stylesheet', href='/stylesheets/fons.css')

	body
		div.content
			h1= message
			h2= error.status
			pre #{error.stack}
