extends layout

block content
	title FONS SIGNATUS
	div.content
		div.header
			svg(id="TextLogo" fill='url(#bg-gradient)' viewbox='0 0 168 48')
				text(font-family='Montserrat-Medium, Montserrat' font-weight='400')
					tspan(x='0' y='34') FONS SIGNATUS
				text(font-family='Montserrat-Black, Montserrat' font-weight='700')
					tspan(x='0' y='18') Monolith
			img#Logo(src="images/Drip.svg")

		div.center.break
			h1 Data leaks from the seams of the net. #[span.blink _]
			div.smaller
				p A collection of projects built on data aggregation. What kind of things can we learn when we take a step back? Collecting, collating, and analyzing large amounts of information normally only viewed "up close" within its individual context, information recontextualized for a new perspective.

				p Touch the big picture. Interact with trends that span large swaths of time - hear many different thoughts, voices, ideas overlapped. Take a new perspective on what we all put on the internet.

		div#projects.break
			div.project-head
				svg(id="ProjectsLogo" fill='url(#bg-gradient)' viewbox='0 0 168 48')
					text(font-family='Montserrat-Black, Montserrat' font-weight='700')
						tspan(x='0' y='40') Projects
			div.project
				h1 Twitter Tracker
				a(href="http://twitter-tracking.herokuapp.com/") twitter-tracking.herokuapp.com
				div.smaller
					p Twitter Tracker aggregates thousands of Tweets and recursively analyzes trends. Hashtags are associated with their most frequently used words, phrases and emojis. View the history of the usage of hashtags on Twitter.

			div.project
				h1 Something Else Entirely
				a(href="/") Coming Soon...
				div.smaller
					p To find threads you pull on threads. Correlations. Lower yourself into the darkness, sink into specificity, find your home.

		div.footer
			div.footer-head
				svg(id="TextLogo" fill='url(#bg-gradient)' viewbox='0 0 168 48')
					text(font-family='Montserrat-Black, Montserrat' font-weight='700')
						tspan(x='0' y='48') The Future
			p More coming. Lose your context.
			p > neilsemail@me.com

	div#bg
		include fons-bg.pug
		
	footer
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
		script(src="/javascripts/bg-lines.js")