doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
  body
    header
      block content
      h1 GummyFrog
      g=' at '+title+'.'

      include nav.jade



    div#stuffHigh
      img.image(src='/images/sphere.jpg')

    section#wrapper
        footer
          section.css-table
            section.four-column
              section.cell
                p Hello! I'm Neil C.<br/>I program things for humans, and things related to language.
                p This is a website where you can see my work.<br/>It's full of my projects. I made all of them myself!
              section.cell
                p In case you were interested, this website is powered by <a href="https://github.com/expressjs/express")> Express</a>, <a href="https://github.com/pugjs/pug")> Jade/Pug</a> and <a href="https://nodejs.org/en/")> Node.js.</a>
