doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    
  body
    include nav.jade
    div.content
      p(style="white-space:pre-line;").
        Hello, I'm Neil. This is a website containing my work.
        If you have any questions, you can reach me at neilsemail@me.com.
        
        If you're interested, this website is powered by <a href="https://github.com/expressjs/express")>Express</a>, <a href="https://github.com/pugjs/pug")>Jade/Pug</a> and <a href="https://nodejs.org/en/")>Node.js.</a>
        
          
      img(src="images/sphere.png" style="height: 120px; width:120px;")
