doctype
html
  head
  	include richembed.jade
    title= title

  body
    canvas(id="myCanvas" width="700" height="600")
    script(src = 'javascripts/mail.js')
    p hi

   a(href="create")
   button(type="button" id="btn-download") create new post
