doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
    link(href='/stylesheets/jsontree-alt.css', rel='stylesheet')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.5.0/balloon.min.css")


  body
    header
      h1 GummyFrog
      g=title

      include nav.jade



    div#charts
      canvas#words-chart(width='100px', height='100px')
      canvas#emojis-chart(width='100px', height='100px')
      canvas#hashtags-chart(width='100px', height='100px')
      canvas#type-chart(width='100px', height='100px')


    #jstree
      h3 Please wait a moment...



    section#wrapper
        block content
        footer
          script(src="https://platform.twitter.com/widgets.js")
          script(src='https://cdn.jsdelivr.net/npm/moment@2.18.1/min/moment.min.js')
          script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js")
          script(src='javascripts/palette.js')
          script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js')

          script(src='javascripts/jsonDisplayer.js')



          section.css-table
            section.four-column
              section.cell
