nav
  ul
    li
      a(href="/") Home
    li
      a(href="/contact") Contact
    p Projects

    ul#Projects
      li
        a(href="/bolopo") Bolopo
      li
        a(href="/emojis") Emojis
      p
      li
        a(href="https://www.npmjs.com/package/sylb" target="_blank") Sylb
      li
        a(href="https://github.com/gummyfrog/mrLotus" target="_blank") Lotus
