div.gumhead
  h1.subgum= title
  h1.gum gummyfrog
  div.table
    ul#horizontal
      li 
        a(href="/") Home
      li
        a(href="/bolopo") Bolopo
      li
        a(href="/emojis") Emojis
      li
        a(href="/frogeye") Frogeye
      li
        a(href="/resizer") Resizer
      li
        a.external(href="https://www.npmjs.com/package/sylb" target="_blank") Sylb
      li
        a.external(href="https://github.com/gummyfrog/mrLotus" target="_blank") Lotus
