div.header
	h1.subtitle= title
	h1.headerTitle gummyfrog
	div.table
		ul#horizontal
			li
				a(href="/") Home
			li
				a.external(href="https://github.com/gummyfrog") Github
			li
				a.external(href="http://twitter-tracking.herokuapp.com/daily" target="_blank") Twitter Trends
			li
				a.external(href="https://github.com/gummyfrog/mrLotus" target="_blank") Lotus
			li
				a.external(href="/auditype") Auditype