#myTopnav.topnav
  a(href="/").title gummyfrog
  a(href='https://github.com/gummyfrog') github
  a(href='https://twitter.com/gummusfroggus') twitter
  a(href='https://mothsack.tumblr.com') tumblr
  .theme-switch-wrapper
    label.theme-switch(for='checkbox')
      input#checkbox(type='checkbox')
      .slider.round
  a.icon(href='javascript:void(0);' onclick='responsive()')
    i.fa.fa-ellipsis-h


#about.about
  p site under construction
  p neilsemail@me.com
