extends layout

block content
	title GMFR CV
	div.content(style="padding-top: 30px")
		div.header
			svg(id="TextLogo" fill='url(#bg-gradient)' viewbox='0 0 168 48')
				text(font-family='Montserrat-Medium, Montserrat' font-weight='400')
					tspan(x='0' y='42') PERSONAL WORK
				text(font-family='Montserrat-Black, Montserrat' font-weight='700')
					tspan(x='0' y='26') GMFR
		div.center
			h1 The internet is a powerful tool. #[span.blink _]
			div.smaller
				p Nothing is more interesting than creating something that strangers, users and netizens can interact with: to change, make their own, foster a community around. The internet is interconnectivity, allowing ideas to be enhanced through exposure to the collective. Connectivity is strength, and the most important thing is co-interaction.

		div.projects
			div.project-head
				svg(id="ProjectsLogo" fill='url(#bg-gradient)' viewbox='0 0 168 48')
					text(font-family='Montserrat-Black, Montserrat' font-weight='700')
						tspan(x='0' y='40') • Misc
			div.project.break
				h1 Code Contributions #[span.blink _]
				a(href="https://github.com/gummyfrog") github.com/gummyfrog
				div.smaller
					p I've worked on a lot of small-scope projects and commissions, usually implementations and re-contextualizations of external APIs.

					h4 #[a(href="https://github.com/WFCD/genesis") Project Genesis] - Twitter API Integration.
					h4 #[a(href="https://twitter.com/robot_corno") CornoPatrol] - PT/BR Twitter Bot Commission.
					h4 #[a(href="https://github.com/gummyfrog/classicworldbuffs-webhook") ClassicWBHook] - Warcraft utility for a large guild. 

			div.project-head
				svg(id="ProjectsLogo" fill='url(#bg-gradient)' viewbox='0 0 168 48')
					text(font-family='Montserrat-Black, Montserrat' font-weight='700')
						tspan(x='0' y='40') •• Fons Signatus
			div.project
				h1 Mind Expansion.
				a(href="http://gmfr.herokuapp.com/") gmfr.herokuapp.com
				br
			
				a(href="http://twitter-tracking.herokuapp.com/") twitter-tracking.com

				div.smaller
					p Fons Signatus is an attempt to aggregate aggregators; projects that expand our individual contexts by showing us the big picture. These projects express themselves in different ways, and are all collected here. I've contributed the Twitter Tracker, the onus. 
					p Fons Signatus is an ever expanding project, actively searching for projects to feature. Get in contact, I'd love to hear from you.
					p To read more about the Twitter Tracker and other projects, please visit the home page of this site.


		div.projects
			div.project-head
				svg(id="ProjectsLogo" fill='url(#bg-gradient)' viewbox='0 0 168 48')
					text(font-family='Montserrat-Black, Montserrat' font-weight='700')
						tspan(x='0' y='40') ••• The Past
			div.project
				h1 Apogeo -
				h1 Admin, Design, Layout
				a(href="https://www.apogeophotos.com") apogeophotos.com
				div.smaller
					p Although the site is currently offline, Apogeo Photos is a photojournalism site, hosting blog posts and articles on travel, as well as interviews and foreign photography.
					p I handled Mailchimp, our domain, and the domain's email host as well as site layout and branding.
			div.project
				h1 FJC - Admin, Design, Layout
				a(href="http://fjamesconley.com/motojournalism-grid") fjamesconley.com
				div.smaller
					p Photojournalism and fashion site.

			div.project
				h1 Auditype - Dev
				a(href="auditype") gmfr/auditype
				div.smaller
					p Auditype was my first professional Mac App, a utility that adds digital audal feedback for the keyboard/mouse.


		div.footer
			div.footer-head
				svg(id="TextLogo" fill='url(#bg-gradient)' viewbox='0 0 168 48')
					text(font-family='Montserrat-Black, Montserrat' font-weight='700')
						tspan(x='0' y='48') > The Future
			p Always more coming. Lose your context.
			p neilsemail@me.com #[span +1 267-475-3257]

	div#bg(style="height: 270vh")
		include portfolio-bg.pug
	footer
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
		script(src="/javascripts/bg-lines.js")