doctype
html
	head
		include richembed.jade
		title= title
		link(rel='stylesheet', href='/stylesheets/auditype.css')

	body
		div.header
			div.content
				img.logo(src="images/auditype.png")
				p.title Auditype.
				p.subtitle Type the way you like. Quiet, loud, or anywhere in between.
				br


				p.title Data Collection
				p Auditype does not collect or send any data or statistics, either to us or any third parties.

				p If you have any questions about this Privacy Policy, please #[a(href="/contact") contact us.]
				br
				a(href="/auditype") About Auditype
				br
				a(href="/contact") Contact