doctype
html
  head

    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/resizer.css')

  body
    header
      include nav.jade
      div.content

        div.contentleft#zipButtonGoesHere
          p#resizeErrorText
          
          input#filesToUpload(name='filesToUpload[]', type='file', multiple='', onchange="reset()")
          button#runButton(onClick="listFiles()") Run
        
          p(style="white-space:pre-line;").
            Hello! This is a beta test of a small web-app.
            
            Please upload one or multiple image files. This magic webpage will scale them to a 1080x1080 square.
            
            You can drag and drop into the "browse..." button.
            
            
        div.contentright
          ul#fileList      
               
      footer
        script(src="https://cdn.rawgit.com/oliver-moran/jimp/v0.2.27/browser/lib/jimp.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js")
        script(src="https://cdn.rawgit.com/eligrey/Blob.js/0cef2746414269b16834878a8abc52eb9d53e6bd/Blob.js")
        script(src="/node_jszip/dist/jszip.min.js")
        script(src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js")
        script(src="javascripts/resizer.js")
