
meta(content=title, property="og:title")
meta(content=description, property="og:description")
meta(content="gmfr - gummyfrog", property="og:site_namme")
meta(content="https://careersnw.org/wp-content/uploads/2017/03/cropped-favicon-1-1.png", property="og:image")
// meta(name="twitter:card", content="summary_large_image")
meta(name="theme-color", content="#D21010")

link(type="application/json+oembed", href="/oembed.json")
