
meta(content=title, property="og:title")
meta(content=description, property="og:description")
meta(content="gmfr - gummyfrog", property="og:site_namme")
// meta(content="https://cdn.discordapp.com/attachments/348636325471059978/562934338405007370/sphere.png", property="og:image")
// meta(name="twitter:card", content="summary_large_image")
meta(name="theme-color", content="#D21010")

link(type="application/json+oembed", href="/oembed.json")
