doctype
html
	head
		title= title	
	body
		meta(content="SANDWICH 2020 - Vote For Sandwich!", property="og:title")
		meta(content="How about you vote for sandwich, ah?", property="og:description")
		meta(content="Sandwich", property="og:site_namme")
		meta(content="https://cdn.discordapp.com/attachments/392800807201931264/554045430217048085/SANDWICH2020.png", property="og:image")
		meta(name="twitter:card", content="summary_large_image")
		meta(name="theme-color", content="#7289DA")
		
		link(type="application/json+oembed", href="oembed.json")
