doctype
html
	head
		include richembed.jade
	body
		meta(content="WoW Gold to USD! \n Fast, safe, and simple.", property="og:title")
		meta(content="Convert your hard earned gold to hard cash while prices are high. \n Time is money, friend!", property="og:description")
		meta(content="WOWGLDFAST", property="og:site_namme")
		meta(content="https://cdn.discordapp.com/attachments/392800807201931264/618458213402148906/Screen_Shot_2019-09-03_at_10.50.44_AM.png", property="og:image")
		meta(name="twitter:card", content="summary_large_image")
		meta(name="theme-color", content="#FFDF00")
		meta(name="footer", content="-Kalimdor Heritage Group, Sep. 2019")

		link(type="application/json+oembed", href="/oembed.json")
		
		div.content
			img(src="https://cdn.discordapp.com/attachments/392800807201931264/618458213402148906/Screen_Shot_2019-09-03_at_10.50.44_AM.png", style=("width:100%") alt="Proud branch of the Kalimdor Heritage Trust.")
			
		//	This is a joke, do not sell your gold for cash.
