doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  title Daily
  // Bootstrap core CSS
  link(href='/stylesheets/style.css' rel='stylesheet')
  link(href='/stylesheets/top-nav.css' rel='stylesheet')

include navbar.pug

#wrapper.d-flex
  // Page Content
  #page-content-wrapper
    .container-fluid
      #header.header
        .title_box
          
  // /#page-content-wrapper
// /#wrapper

script(src='/javascripts/darktheme.js')
script(src="https://kit.fontawesome.com/a9b1673cea.js" crossorigin="anonymous")
