body {
  padding: 30px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
}

p {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 31px;
}

.content {
  width: 90%;
  margin: auto;
}

.title {
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: bolder;
  padding-bottom: 0px;
}

.answer {
  padding-bottom: 20px;
}

.flag {
  margin: auto;
  height: 20px;
  width: 30px;
}