.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.thumb {
  height: 16px;
  width: 16px;
}

.titleBar {
  color: #a25ba4;
  width: 100%;
  height: 30px;
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 25px;
}

.titleText {
  color: #a25ba4;
  font-size: 26px;
  line-height: 2px;
}
.content {
  padding: 10px;
}

.item {
  display: inline-block;
  color: #a25ba4;
  text-align: left;
  width: 100%;
  text-transform: capitalize;
  line-height: 18px;
  text-align: left;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 300;
}
