body {
  padding: 65px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

g{
  padding-left: 22px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

project {
  color: #00b7ff;
}

tween {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

socialText {
  font: 18px "Futura", Helvetica, Arial, sans-serif;
  position: relative;
  top:-7px;
}

#fileList {
  list-style: square;
  list-style-position: inside;
  padding-right: 50%;
  padding-top: 40px;
}

#filesToUpload {
  font: 18px "Futura", Helvetica, Arial, sans-serif;
}

#runButton {
  font: 18px "Futura", Helvetica, Arial, sans-serif;
}

#line {
  padding-left: 26px;
  font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#social {
  width: 30px;
  height: 30px;
}

#stuffHigh {
  float: right;
  max-width: 400px;
  max-height: none;
  margin-top: -300px;
  margin-right: 65px;
}


#stuffMiddle {
  float: right;
  max-width: 400px;
  max-height: none;
  margin-top: -300px;
  margin-right: 130px;
}

#stuff {
  float: right;
  margin-right: 65px;
}

#wrapper {
  padding-top: 30px;
}
