body {
  padding: 65px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-transform: lowercase;
  font: 21px "Open Sans", Helvetica;
  color: #2F2C49;
}

p {
  font: 21px "Open Sans", Helvetica;
  font-weight: 400;
}

g{
  padding-left: 22px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

li {
  font: 26px "Open Sans", Helvetica;
  font-weight: 350;
  text-transform: lowercase;
  padding-top: 1px;
}

ol {
  list-style-type: none;
}

nav {
  width: 325px;
}

ul {
  list-style-type: none;
}

.text {
  width: 60%;
}

.gum {
  text-align: left;
  font: 60px "Open Sans", Helvetica;
  line-height: 0px;
  font-weight: 600;
}
.gumtext {
  padding: 0px;
  background-color: #f9f7f6;
  text-align: left;
  font: 25px "Open Sans", Helvetica;
  font-weight: 600;
}


.right {
  padding-left: 15%;
  float: right;
}



